# Environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE & editors
.vscode/
.idea/
*.swp
*~
